<div class="card my-5">
  <div class="card-body">
    <form [formGroup]="form">
      <div class="form-group">
        <label for="name">Name</label>
        <input
          type="text"
          class="form-control"
          id="name"
          name="name"
          placeholder="Enter your name"
          required
          formControlName="name"
        />
      </div>
      <div
        class="text-danger"
        *ngIf="form.get('name')?.invalid && form.get('name')?.touched"
      >
        Name Required
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input
          type="text"
          class="form-control"
          id="email"
          name="email"
          placeholder="Enter your email address"
          required
          formControlName="email"
        />
        <div
          class="text-danger"
          *ngIf="form.get('email')?.invalid && form.get('email')?.touched"
        >
          Email is Required and it must be a valid Email
        </div>
      </div>
      <button
        type="submit"
        (click)="onSubmit()"
        [disabled]="!form.valid"
        class="btn btn-info"
      >
        Submit
      </button>
    </form>
  </div>
</div>
